{% extends "wagtailadmin/generic/index.html" %}

{% block header %}
    {% include "wagtailadmin/shared/header.html" with title=page_title subtitle=page_subtitle action_url=header_action_url action_text=header_action_label icon=header_icon search=search only %}
{% endblock %}

{% comment %} Taken from WT5.1 {% endcomment %}
{% block listing %}
    <div class="nice-padding">
        <div id="listing-results">
            {% include view.results_template_name %}
        </div>
    </div>
{% endblock %}
