{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}
{% block titletag %}{% trans "Search" %}{% endblock %}
{% block bodyclass %}menu-news{% endblock %}


{% block content %}

    {% trans "Search" as search_str %}

    {% include "wagtailadmin/shared/header.html" with title=search_str search_url="wagtailnews:search" icon="search" %}
    <div class='nice-padding'>
        {% search_other "news" %}

        <div id="listing-results">
            {% include "wagtailnews/search_results.html" %}
        </div>
    </div>
{% endblock %}
